$half-hour-block-size: 50px;
$visual-gap-size: 10px;

// Absolute left positioning
.Mo {
  left: 1%;
}

.Tu {
  left: 21%;
}

.We {
  left: 41%;
}

.Th {
  left: 61%;
}

.Fr {
  left: 81%;
}

// Absolute top positioning
// Not sure if we need this ...

// Solutions
// 1) Parse the start times, add these classes, then calculate the difference between the earliest one and 630 in terms of half-hour blocks,
// subtract 50 * that difference from all class heights
// 2) Don't use these declarations, add inline-styling on render

.start-630 {
  top: calc(30px + 0 * #{$half-hour-block-size});
}

.start-700 {
  top: calc(30px + 1 * #{$half-hour-block-size});
}

.start-730 {
  top: calc(30px + 2 * #{$half-hour-block-size});
}

.start-800 {
  top: calc(30px + 3 * #{$half-hour-block-size});
}

.start-830 {
  top: calc(30px + 4 * #{$half-hour-block-size});
}

.start-900 {
  top: calc(30px + 5 * #{$half-hour-block-size});
}

.start-930 {
  top: calc(30px + 6 * #{$half-hour-block-size});
}

.start-1000 {
  top: calc(30px + 7 * #{$half-hour-block-size});
}

.start-1030 {
  top: calc(30px + 8 * #{$half-hour-block-size});
}

.start-1100 {
  top: calc(30px + 9 * #{$half-hour-block-size});
}

.start-1130 {
  top: calc(30px + 10 * #{$half-hour-block-size});
}

.start-1200 {
  top: calc(30px + 11 * #{$half-hour-block-size});
}

.start-1230 {
  top: calc(30px + 12 * #{$half-hour-block-size});
}

.start-1300 {
  top: calc(30px + 13 * #{$half-hour-block-size});
}

.start-1350 {
  top: calc(30px + 14 * #{$half-hour-block-size});
}

.start-1400 {
  top: calc(30px + 15 * #{$half-hour-block-size});
}

.start-1450 {
  top: calc(30px + 16 * #{$half-hour-block-size});
}

.start-1500 {
  top: calc(30px + 17 * #{$half-hour-block-size});
}

.start-1550 {
  top: calc(30px + 18 * #{$half-hour-block-size});
}

.start-1600 {
  top: calc(30px + 19 * #{$half-hour-block-size});
}

.start-1650 {
  top: calc(30px + 20 * #{$half-hour-block-size});
}

.start-1700 {
  top: calc(30px + 21 * #{$half-hour-block-size});
}

.start-1750 {
  top: calc(30px + 22 * #{$half-hour-block-size});
}

.start-1800 {
  top: calc(30px + 23 * #{$half-hour-block-size});
}

.start-1850 {
  top: calc(30px + 24 * #{$half-hour-block-size});
}

.start-1900 {
  top: calc(30px + 25 * #{$half-hour-block-size});
}

.start-1950 {
  top: calc(30px + 26 * #{$half-hour-block-size});
}

.start-2000 {
  top: calc(30px + 27 * #{$half-hour-block-size});
}

.start-2050 {
  top: calc(30px + 28 * #{$half-hour-block-size});
}

.start-2100 {
  top: calc(30px + 29 * #{$half-hour-block-size});
}

.start-2150 {
  top: calc(30px + 30 * #{$half-hour-block-size});
}

.start-2200 {
  top: calc(30px + 31 * #{$half-hour-block-size});
}

// Height positioning
// One half-hour block is considered as #{$half-hour-block-size}.block-
// The last block is only 40px to create a visual gap inbetween classes.block-
// - #{$visual-gap-size}, visual gap
// - 27px * 2, the header and footer for lecture entries
// - 0.5rem, handle the padding-top for the body of the entries

.cal-body {
  .lecture-entry {
    // The class should be added to the .block-lecture-entry-body div
    .block-1 {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      height: calc(1 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-2 {
      height: calc(2 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-3 {
      height: calc(3 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-4 {
      height: calc(4 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-5 {
      height: calc(5 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-6 {
      height: calc(6 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-7 {
      height: calc(7 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-8 {
      height: calc(8 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-9 {
      height: calc(9 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-10 {
      height: calc(10 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
  }
  .other-entry-body {
    .block-1 {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      height: calc(1 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-2 {
      height: calc(2 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-3 {
      height: calc(3 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-4 {
      height: calc(4 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-5 {
      height: calc(5 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-6 {
      height: calc(6 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-7 {
      height: calc(7 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-8 {
      height: calc(8 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-9 {
      height: calc(9 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-10 {
      height: calc(10 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
  }
}
