.monday {
  left: 1%; }

.tuesday {
  left: 21%; }

.wednesday {
  left: 41%; }

.thursday {
  left: 61%; }

.friday {
  left: 81%; }

.am-630 {
  top: calc(30px + 0 * 50px); }

.am-7 {
  top: calc(30px + 1 * 50px); }

.am-730 {
  top: calc(30px + 2 * 50px); }

.am-8 {
  top: calc(30px + 3 * 50px); }

.am-830 {
  top: calc(30px + 4 * 50px); }

.am-9 {
  top: calc(30px + 5 * 50px); }

.am-930 {
  top: calc(30px + 6 * 50px); }

.am-10 {
  top: calc(30px + 7 * 50px); }

.am-1030 {
  top: calc(30px + 8 * 50px); }

.am-11 {
  top: calc(30px + 9 * 50px); }

.am-1130 {
  top: calc(30px + 10 * 50px); }

.pm-12 {
  top: calc(30px + 11 * 50px); }

.pm-1230 {
  top: calc(30px + 12 * 50px); }

.pm-1 {
  top: calc(30px + 13 * 50px); }

.pm-130 {
  top: calc(30px + 14 * 50px); }

.pm-2 {
  top: calc(30px + 15 * 50px); }

.pm-230 {
  top: calc(30px + 16 * 50px); }

.pm-3 {
  top: calc(30px + 17 * 50px); }

.pm-330 {
  top: calc(30px + 18 * 50px); }

.pm-4 {
  top: calc(30px + 19 * 50px); }

.pm-430 {
  top: calc(30px + 20 * 50px); }

.pm-5 {
  top: calc(30px + 21 * 50px); }

.pm-530 {
  top: calc(30px + 22 * 50px); }

.pm-6 {
  top: calc(30px + 23 * 50px); }

.pm-630 {
  top: calc(30px + 24 * 50px); }

.pm-7 {
  top: calc(30px + 25 * 50px); }

.pm-730 {
  top: calc(30px + 26 * 50px); }

.pm-8 {
  top: calc(30px + 27 * 50px); }

.pm-830 {
  top: calc(30px + 28 * 50px); }

.pm-9 {
  top: calc(30px + 29 * 50px); }

.pm-930 {
  top: calc(30px + 30 * 50px); }

.pm-10 {
  top: calc(30px + 31 * 50px); }

.cal-body .lecture-entry .block-1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: calc(1 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-2 {
  height: calc(2 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-3 {
  height: calc(3 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-4 {
  height: calc(4 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-5 {
  height: calc(5 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-6 {
  height: calc(6 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-7 {
  height: calc(7 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-8 {
  height: calc(8 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-9 {
  height: calc(9 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .lecture-entry .block-10 {
  height: calc(10 * 50px - 10px - 0.5rem - 27px * 2); }
.cal-body .other-entry-body .block-1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: calc(1 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-2 {
  height: calc(2 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-3 {
  height: calc(3 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-4 {
  height: calc(4 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-5 {
  height: calc(5 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-6 {
  height: calc(6 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-7 {
  height: calc(7 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-8 {
  height: calc(8 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-9 {
  height: calc(9 * 50px - 10px - 0.5rem); }
.cal-body .other-entry-body .block-10 {
  height: calc(10 * 50px - 10px - 0.5rem); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

html,
body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@font-face {
  font-family: 'Calibre-Regular';
  src: url("../fonts/Calibre-Regular.woff"); }
@font-face {
  font-family: 'Calibre-Semibold';
  src: url("../fonts/Calibre-Semibold.woff"); }
@font-face {
  font-family: 'Calibre-Bold';
  src: url("../fonts/Calibre-Bold.woff"); }
@font-face {
  font-family: 'Icons';
  src: url("//js.six.ph/fonts/icons.eot");
  src: url("//js.six.ph/fonts/icons.eot?#iefix") format("embedded-opentype"), url("//js.six.ph/fonts/icons.woff") format("woff"), url("//js.six.ph/fonts/icons.ttf") format("truetype"), url("//js.six.ph/fonts/icons.svg#icons") format("svg");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none; }
.main-container {
  max-width: 100%;
  margin-right: 2rem;
  margin-left: 2rem; }

.main-data-container {
  width: 72%;
  float: left;
  display: inline-block; }

.side-panel-container {
  margin-left: 1%;
  width: 27%;
  float: right;
  display: inline-block; }

html {
  font-family: "Calibre-Regular", sans-serif; }

body {
  margin: 0px; }

button {
  cursor: pointer;
  outline: 0;
  background-color: #4279FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.25rem; }

input, select {
  padding-top: 0.15rem;
  padding-bottom: 0.3rem;
  padding-left: 0.15rem; }

select {
  outline: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white !important;
  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; }

  /* Select Arrow styling CSS from http://stackoverflow.com/questions/22153080/how-do-i-change-the-select-box-arrow */
select:not(:disabled) {
  background: linear-gradient(45deg, transparent 50%, #4279FF 50%), linear-gradient(135deg, #4279FF 50%, transparent 50%);
  background-position: calc(100% - 12px) calc(0.4rem + 2px), calc(100% - 8px) calc(0.4rem + 2px);
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat; }

input {
  outline: 0; }

::-webkit-input-placeholder {
  color: black; }

:-moz-placeholder {
  /* Firefox 18- */
  color: black; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: black; }

:-ms-input-placeholder {
  color: black; }

input:focus {
  outline: 0; }

a {
  color: black; }

.outline-blue {
  border: 1px solid #4279FF !important; }

.color-blue {
  color: #4279FF; }

.semibold {
  font-family: "Calibre-Semibold", sans-serif; }

.clearfix {
  overflow: auto; }

.headerfix {
  overflow: visible; }

.ui.fluid.search.selection.dropdown {
  margin: 0rem;
  padding: 0rem;
  border-width: 1px;
  border-style: solid;
  border-color: #a6a6a6;
  min-height: 0px;
  border-radius: 0rem; }

.default.text {
  margin: 0rem;
  padding: 0.3rem 0rem 0rem 0.1rem;
  font-size: 0.8rem;
  color: black;
  font-family: "Calibre-Regular", sans-serif; }

.dropdown.icon {
  padding: 0.1rem 0.2rem 0rem 0rem !important;
  color: #4279FF !important; }

input.search {
  margin: 0rem !important;
  padding: 0.2rem 0rem 0.05rem 0.1rem !important; }

.message {
  font-size: 0.8rem !important;
  padding: 0.2rem 0rem 0.05rem 0.1rem !important; }

.ui.search.dropdown > .text {
  font-size: 0.8rem !important;
  padding: 0.2rem 0rem 0.05rem 0.1rem !important; }

.ui.selection.dropdown .menu > .item.selected {
  background-color: #4279FF;
  color: white; }

.ui.selection.dropdown .menu > .item {
  margin: 0rem !important;
  padding: 0.3rem 0rem 0rem 0.1rem !important;
  font-size: 0.8rem !important;
  font-family: "Calibre-Regular", sans-serif !important; }

.error-dialog {
  width: auto;
  margin-bottom: 2rem; }

.error-dialog-icon .icon {
  color: #FF8080;
  font-size: 50px !important; }

.error-dialog-icon {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 65px;
  top: 38.5%;
  left: 31.5%; }

.error-dialog-msg {
  display: inline-block;
  width: 400px; }

.add-course-confirm, .drop-course-confirm {
  left: 0rem !important;
  top: 40% !important;
  height: auto !important;
  width: 34% !important;
  margin-right: 33% !important;
  margin-left: 33% !important; }

.modal-header {
  background-color: #4279FF;
  color: white;
  height: 1.7rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.4rem; }

.modal-header-text {
  float: left; }

.modal-cancel {
  cursor: pointer;
  float: right;
  margin-right: 1rem; }

.modal-cancel-icon {
  font-size: 1.5rem;
  -ms-transform: translate(0px, -0.3rem);
  /* IE 9 */
  -webkit-transform: translate(0px, -0.3rem);
  /* Safari */
  transform: translate(0px, -0.3rem); }

.modal-confirm-text {
  padding-left: 1rem;
  margin-bottom: 0px; }

.modal-class-item {
  background-color: #EEEEEE;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem; }

.modal-body {
  padding: 0.5rem 1rem 0rem 1rem;
  height: 100%; }

.modal-course-info {
  margin-top: 0.2rem; }

.modal-course-info-name {
  text-transform: uppercase;
  font-size: 1.2rem; }

.modal-course-info {
  width: 100%;
  display: inline-block; }

.modal-footer {
  text-align: right;
  margin-bottom: 1rem;
  margin-right: 1rem; }

.modal-confirm-button {
  margin-left: 1rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem; }

.absolute-center-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.loading {
  text-align: center; }

.loading-msg-logo-text {
  color: #4279FF;
  font-size: 1.2rem;
  margin-bottom: 2rem; }

.loading-msg {
  font-size: 1.5rem;
  font-family: "Calibre-Semibold", sans-serif; }

.banner {
  width: 100%;
  background-color: #4279FF; }

.banner-text {
  color: white;
  margin-top: 0rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.my-academics-link {
  text-decoration: none; }

.class-enrollment-subtitle {
  display: inline-block;
  border-bottom: 0.2rem solid #4279FF;
  font-size: 1.2rem;
  line-height: 0.9rem;
  margin-bottom: 1rem; }

.current-semester-subtitle {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 2.5rem; }

.courses-table-enroll th {
  font-weight: normal;
  min-width: 1rem; }

.courses-table-enroll {
  width: 100%;
  border-radius: 5rem;
  border-spacing: 0rem;
  margin-bottom: 2rem; }

.courses-table-header-row th {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  font-size: 0.8rem;
  text-align: left;
  background-color: #4279FF;
  color: white; }

.courses-table-waitlisted {
  background-color: #EEEEEE;
  border-spacing: 0rem; }

.courses-table-waitlisted > td > div {
  padding: 0.5rem 0rem 0.3rem 0rem; }

.courses-drop-course {
  color: #FF8080; }

.courses-table-waitlisted p {
  padding-top: 0.3rem; }

.courses-table-waitlisted td {
  background-color: #EEEEEE; }

.courses-table-header-drop-class {
  text-align: center;
  width: 4rem; }

.courses-table-entry {
  text-align: left;
  font-size: 1.1rem;
  border: 1px solid black; }

.courses-table-entry td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.75rem; }

.courses-table-entry .class-drop {
  text-align: center; }

.courses-table-entry td {
  border-bottom: 1px solid #EEEEEE; }

.courses-table-entry td:first-child {
  border-left: 1px solid #EEEEEE;
  width: 50px; }

.courses-table-entry td:last-child {
  border-right: 1px solid #EEEEEE;
  width: 50px; }

.courses-table-entry td:nth-child(2) {
  font-family: "Calibre-Semibold", sans-serif;
  text-transform: uppercase; }

.discussion-swap {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem; }

.cal-enroll {
  width: 100%;
  border-radius: 5rem;
  border-spacing: 0rem;
  margin-bottom: 3rem; }

.cal-header-row {
  position: relative;
  height: 20px;
  text-align: center; }

.cal-body {
  position: relative;
  height: 1000px;
  min-height: 250px;
  text-transform: uppercase; }

.cal-header-row-entry {
  position: absolute;
  width: 20%;
  top: 0px;
  height: 25px;
  background-color: #EEEEEE;
  padding-top: 0.75rem; }

.cal-header-row .cal-header-row-entry:nth-child(1) {
  left: 0%; }
.cal-header-row .cal-header-row-entry:nth-child(2) {
  left: 20%; }
.cal-header-row .cal-header-row-entry:nth-child(3) {
  left: 40%; }
.cal-header-row .cal-header-row-entry:nth-child(4) {
  left: 60%; }
.cal-header-row .cal-header-row-entry:nth-child(5) {
  left: 80%; }

.cal-dotw-column {
  display: inline-block;
  height: 100%;
  width: calc(20% - 4px);
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE; }

.monday-column {
  border-left: 1px solid #EEEEEE; }

.friday-column {
  width: calc(20% - 5px); }

.lecture-entry {
  width: calc(18% - 4px);
  text-align: left;
  position: absolute; }

.other-entry {
  width: calc(18% - 4px);
  text-align: left;
  position: absolute; }

.lecture-entry-header {
  background-color: #4279FF;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  color: white; }

.lecture-entry-body {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  background-color: white;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE; }

.lecture-entry-footer {
  height: 27px;
  background-color: #EEEEEE;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.other-entry-body {
  height: calc(4 * 50px - 0.5rem - 10px);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  background-color: #4279FF;
  color: white;
  border-radius: 0.25rem; }

.waitlisted-entry .lecture-entry-header, .waitlisted-entry .lecture-entry-body, .waitlisted-entry .lecture-entry-footer, .waitlisted-entry .other-entry-body {
  background-color: #EEEEEE !important;
  color: black !important; }

.phase2-signup-panel {
  background-color: #EEEEEE;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }

.phase2-text {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
  line-height: 1.9rem; }

.phase2-header-text {
  font-weight: bold;
  font-size: 1.3rem; }

.phase2-date, .phase2-time {
  color: #4279FF; }

.phase2-add-calendar-alert {
  padding: 0.8rem 1.8rem;
  font-size: 0.8rem; }

.sc-panel {
  background-color: #EEEEEE;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }

.sc-header-text {
  margin: 0rem; }

.sc-class-item {
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  background-color: white; }

.sc-clear-button {
  background-color: #FF8080;
  margin-left: 0.8rem;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem; }

.sc-footer {
  margin-top: 1rem; }

.sc-clear-text {
  font-size: 0.9rem; }

.sc-course-info {
  position: relative;
  margin-top: 0.2rem; }

.sc-course-info-name {
  text-transform: uppercase;
  font-size: 1.2rem; }

.sc-course-info-left {
  width: 50%; }

.sc-course-info-right {
  position: absolute;
  bottom: 0.3rem;
  right: 0rem;
  font-size: 0.8rem;
  margin-top: 0.5rem; }

.sc-course-add, .sc-course-delete {
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem; }

.sc-course-delete {
  background-color: #FF8080;
  margin-right: 0.5rem; }

.add-class-panel {
  background-color: #EEEEEE;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem; }

.add-class-header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 0.2rem solid #4279FF;
  font-family: "Calibre-Semibold", sans-serif;
  font-size: 1.2rem;
  line-height: 0.9rem; }

.add-class-error-msg {
  display: inline-block;
  float: right;
  font-size: 0.8rem;
  line-height: 0.75rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.35rem;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: #FF8080;
  color: white; }

.add-class-form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.add-class-CCN {
  width: 25%; }

.add-class-section {
  width: 71%;
  margin-left: 2%; }

.add-class-form-row {
  margin-bottom: 0.35rem; }

.add-class-department {
  width: 47% !important;
  display: inline-block !important; }

.add-class-course-number {
  display: inline-block !important;
  width: 48% !important;
  margin-left: 2% !important; }

.add-class-class-name {
  width: 60% !important; }

.add-class-lab, .add-class-discussion {
  margin-bottom: 0.05rem;
  width: 99%; }

.add-class-waitlist-status {
  display: inline-block;
  width: 37%;
  margin-left: 1%;
  font-size: 0.8rem; }

.add-class-waitlist-row {
  width: 100%;
  text-align: right; }

.add-class-waitlist {
  font-size: 0.9rem; }

.add-class-waitlist-button {
  margin-left: 0.4rem;
  margin-right: 1.2rem; }

.add-class-submit-button {
  margin-top: 0.8rem;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem; }

.units-summary-panel {
  background-color: #EEEEEE;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }

.units-text {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
  line-height: 1.9rem;
  font-family: "Calibre-Semibold", sans-serif; }

.units-header-text {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Calibre-Semibold", sans-serif; }

.units-total {
  color: #4279FF; }

.units-remaining {
  color: #FF8080; }

/*# sourceMappingURL=main.css.map */
