.main-container {
  margin-right: 2rem;
  margin-left: 2rem;
}

.main-data-container {
  width: 72%;
  float: left;
  display: inline-block;
  margin-bottom: 2rem;
}

.side-panel-container {
  width: 27%;
  float: right;
  display: inline-block;
}
