.banner {
  width: 100%;
  background-color: $primary-blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .icon {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.2rem;
    height: 1.2rem;
  }
  .text {
    display: inline-block;
    color: white;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}

.my-academics-link-wrapper {
  margin-top: 1.8rem;
  margin-bottom: 0.7rem;
  .link {
    text-decoration: none;
  }
  .icon {
    width: 6.5px;
  }
}

.class-enrollment-subtitle {
  display: inline-block;
  border-bottom: 0.2rem solid $primary-blue;
  font-size: 1.2rem;
  line-height: 0.9rem;
  margin-bottom: 1rem;
}

.current-semester-subtitle {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 2.5rem;
}
