.loading {
  text-align: center;
}

.loading-msg-logo-text {
  color: $primary-blue;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.loading-msg {
  font-size: 1.5rem;
  font-family: $font-semibold;
}
