html {
  font-family: $font-stack;
}

body {
  margin: 0px;
}

button {
  cursor: pointer;
  outline: 0;
  background-color: $primary-blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.25rem;
  padding-bottom: 0.15rem !important;
  font-family: 'Calibre-Regular', sans-serif !important;
}

input, select {
  padding-top: 0.15rem;
  padding-bottom: 0.3rem;
  padding-left: 0.15rem;
  outline: 0;
  font-family: 'Calibre-Regular', sans-serif !important;
  font-size: 13px !important;

  &:focus {
    outline: 0;
  }
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder {
   color: black;
}

::-moz-placeholder {
   color: black;
}

:-ms-input-placeholder {
   color: black;
}

a {
  color: black;
}

button:disabled {
  background-color: $disabled-background !important;
  color: $disabled-text !important;
}

input:disabled {
  border: 2px solid $disabled-background !important;
  border-radius: 0.25rem !important;
  background-color: $disabled-background !important;
}

input:disabled::-webkit-input-placeholder {
  color: $disabled-text !important;
}

input:disabled:-moz-placeholder { /* Firefox 18- */
  color: $disabled-text !important;
}

input:disabled::-moz-placeholder {  /* Firefox 19+ */
  color: $disabled-text !important;
}

input:disabled:-ms-input-placeholder {
  color: $disabled-text !important;
}

select {
  outline: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white !important;
  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

select:disabled {
  border: 2px solid $disabled-background !important;
  border-radius: 0.25rem !important;
  color: $disabled-text !important;
  background-color: $disabled-background !important;
}

  /* Select Arrow styling CSS from http://stackoverflow.com/questions/22153080/how-do-i-change-the-select-box-arrow */
select:not(:disabled) {
  background:
    linear-gradient(45deg, transparent 50%, $primary-blue 50%),
    linear-gradient(135deg, $primary-blue 50%, transparent 50%);
    // linear-gradient(to right, $primary-blue, $primary-blue);
  background-position:
    calc(100% - 12px) calc(0.4rem + 2px),
    calc(100% - 8px) calc(0.4rem + 2px);
    // 100% 0;
  background-size:
    4px 4px,
    4px 4px;
    // 2em 2em;
  background-repeat: no-repeat;
}
