html {
  font-family: $font-stack;
}

body {
  margin: 0px;
}

button {
  cursor: pointer;
  outline: 0;
  background-color: $primary-blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.25rem;
  font-family: 'Calibre-Regular', sans-serif !important;
}

a {
  color: black;
}

button:disabled {
  background-color: $disabled-background !important;
  color: $disabled-text !important;
}
