$primary-blue: #4279FF;
$primary-red: #FF8080;
$primary-gray: #EEEEEE;
$primary-yellow: #FFDE80;
$disabled-background: #E8E8E8;
$disabled-text: #B2B2B2;
$font-stack: 'Calibre-Regular', sans-serif;
$font-semibold: 'Calibre-Semibold', sans-serif;
$font-bold: 'Calibre-Bold', sans-serif;
