.cal-enroll {
  border-spacing: 0rem;
}

.cal-header-row {
  position: relative;
  height: 20px;
  text-align: center;
}

.cal-body {
  position: relative;
  min-height: 250px;
  text-transform: uppercase;
}

.cal-header-row-entry {
  display: inline-block;
  width: calc(20% - 0.2px);
  height: 25px;
  background-color: $primary-gray;
  padding-top: 0.75rem;
}

.cal-dotw-column {
  display: inline-block;
  height: 100%;
  width: calc(20% - 1.2px);
  border-bottom: 1px solid $primary-gray;
  border-right: 1px solid $primary-gray;
}

.monday-column {
  border-left: 1px solid $primary-gray;
}

.lecture-entry {
  width: calc(18%);
  position: absolute;
}

.other-entry {
  width: calc(18%);
  position: absolute;
}

.lecture-entry-header {
  background-color: $primary-blue;
  color: white;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.lecture-entry-body {
  background-color: white;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border-left: 1px solid $primary-gray;
  border-right: 1px solid $primary-gray;
}

.lecture-entry-footer {
  height: 27px;
  background-color: $primary-gray;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.other-entry-body {
  background-color: $primary-blue;
  color: white;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border-radius: 0.25rem;
}

.waitlisted-course {
  .lecture-entry-header, .lecture-entry-body, .lecture-entry-footer, .other-entry-body {
    background-color: $primary-gray !important;
    color: $disabled-text !important;
  }
  .other-entry-body {
    background-color: $primary-gray !important;
    color: $disabled-text !important;
  }
}
