.choose-semester-page {
  height: 100vh;
  background-color: $primary-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-wrapper {
    margin-bottom: 2rem;
    text-align: center;
  }

  .semester-fall, .semester-spring {
    background-color: $primary-blue;
    width: 150px;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 0px;
    padding: 1.2rem 2rem 0.8rem 2rem;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

    &:hover {
      background-color: white;
      color: $primary-blue;
    }
  }

  .semester-spring {
    margin-left: 2rem;
  }
}
