.course-picker {
  background-color: $primary-gray;
  padding: 1.5rem 0rem 0rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  .header {
    margin-bottom: 1rem;
    display: inline-block;
    border-bottom: 0.2rem solid $primary-blue;
    font-family: $font-semibold;
    font-size: 1.2rem;
    line-height: 0.9rem;
  }

  .form {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .row {
    height: 1.75rem;
    overflow: visible;
    width: 100%;
    margin-bottom: 0.2rem;
    vertical-align: baseline;
  }

  input {
    outline: 0;
    border: 2px solid white;
    font-family: 'Calibre-Regular', sans-serif;
    font-size: 13px;

    &:focus {
      outline: 0;
    }
  }
}

.cp-CCN {
  height: 0.89rem;
  padding: 0.25rem 0.25rem 0.1rem 0.25rem;
  float: left;
  width: 15%;
}

.cp-department {
  display: inline-block;
  margin-left: 2%;
  width: 40%;
  .Select-value {
    width: 75% !important;
  }
}

.cp-course-number {
  display: inline-block;
  margin-left: 2%;
  width: 30%;
}

.cp-lecture-section {
  display: inline-block;
  width: 75%;
  .Select-value {
    width: 90% !important;
  }
}

.cp-class-name {
  padding: 0.2rem 0.25rem 0.2rem 0.25rem;
  display: inline-block;
  width: 45%;
}

.cp-waitlist-status {
  display: inline-block;
  width: 37%;
  margin-left: 15px;
  font-size: 13px;
}

.cp-lecture-section, .cp-discussion-section, .cp-lab-section {
  width: 86%;
  .Select-value {
    width: 90% !important;
  }
}

.cp-grade-option {
  display: inline-block;
  width: 43%;
  margin-left: 15px;
}

.cp-CEC {
  height: 0.89rem;
  padding: 0.25rem 0.25rem 0.1rem 0.25rem;
  float: left;
  width: 43%;
}

.cp-waitlist {
  font-size: 0.8rem;
  .cp-waitlist-button {
    margin-left: 5px;
    margin-right: 15px;
  }
}

.cp-submit {
  padding: 0.5rem 0.8rem 0.25rem 0.8rem;
  font-size: 0.8rem;
}

.cp-warning-msg {
  background-color: $primary-yellow;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  width: 86%;
  height: 100%;
  padding: 0.5rem 0.8rem 0.25rem 0.8rem;
  overflow: visible;
  margin-bottom: 1rem;
  vertical-align: baseline;
}

.cp-error-dialog {
  background-color: $primary-red;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  width: 86%;
  height: 100%;
  padding: 0.5rem 0.8rem 0.25rem 0.8rem;
  overflow: visible;
  margin-bottom: 0.2rem;
  vertical-align: baseline;
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

input:disabled {
  border: 2px solid $disabled-background !important;
  border-radius: 0.25rem !important;
  background-color: $disabled-background !important;
}

input:disabled::-webkit-input-placeholder {
  color: $disabled-text !important;
}

input:disabled:-moz-placeholder { /* Firefox 18- */
  color: $disabled-text !important;
}

input:disabled::-moz-placeholder {  /* Firefox 19+ */
  color: $disabled-text !important;
}

input:disabled:-ms-input-placeholder {
  color: $disabled-text !important;
}

select {
  outline: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white !important;
  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}

select:disabled {
  border: 2px solid $disabled-background !important;
  border-radius: 0.25rem !important;
  color: $disabled-text !important;
  background-color: $disabled-background !important;
}

/* Select Arrow styling CSS from http://stackoverflow.com/questions/22153080/how-do-i-change-the-select-box-arrow */
select:not(:disabled) {
  background:
    linear-gradient(45deg, transparent 50%, $primary-blue 50%),
    linear-gradient(135deg, $primary-blue 50%, transparent 50%);
    // linear-gradient(to right, $primary-blue, $primary-blue);
  background-position:
    calc(100% - 12px) calc(0.4rem + 2px),
    calc(100% - 8px) calc(0.4rem + 2px);
    // 100% 0;
  background-size:
    4px 4px,
    4px 4px;
    // 2em 2em;
  background-repeat: no-repeat;
}

// The searchable dropdowns are imported from an open-source project,
// !important tags to override CSS properties, some might not be necessary, oh well.

.Select {
  height: 1.5rem !important;
  outline: 0 !important;
  background-color: white;
}

.Select.is-disabled {
  background-color: $disabled-background !important;
  border: 2px solid $disabled-background !important;
  border-radius: 0.25rem !important;
  .Select-control {
    background-color: $disabled-background !important;
  }
  .Select-placeholder {
    color: $disabled-text !important;
  }
  .Select-arrow {
    border-color: $disabled-text transparent transparent !important;
  }
}

.Select-control {
  border-radius: 0rem !important;
  font-size: 13px !important;
  margin: 0rem !important;
  padding: 0rem !important;
  border: 0rem !important;
  height: 100% !important;
}

.Select-placeholder {
  height: 13px !important;
  line-height: 14px !important;
  padding-top: 0.4rem !important;
  padding-left: 0.3rem !important;
  color: black !important;
  overflow: visible !important;
}

.Select-input {
  height: 13px !important;
  padding-left: 0.3rem !important;
  padding-top: 0.15rem !important;
}

.Select-input > input {
  padding: 0.45rem 0rem 0rem 0rem !important;
  height: 13px !important;
  box-sizing: border-box !important;
  width: 80% !important;
  max-width: 100% !important;
}

span.Select-arrow-zone {
  padding: 0.45rem 0rem 0rem 0rem !important;
}

.Select-arrow {
  border-color: $primary-blue transparent transparent !important;
}

.Select-value, .Select-value-label {
  line-height: 13px !important;
}

.Select-value {
  padding-top: 0.5rem !important;
  padding-left: 0.3rem !important;
}

.Select-option, .Select-noresults {
  padding: 0.4rem 0.3rem 0rem 0.4rem !important;
  margin: 0rem !important;
  font-size: 13px !important;
}

.Select-clear {
  height: 5px !important;
  padding-top: 0.2rem !important;
}
