.footer {
  visibility: hidden;
}

@media (max-width:  $small-break) {
  .courses-table-enroll {
    margin-bottom: 4rem;
  }
}

@media (max-width: $medium-break) {
  .footer {
    visibility: visible;
    background-color: $primary-gray;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    padding: 1rem;
    margin-top: 4rem;

    & button {
      float: right;
      margin-right: 2rem;
      font-size: 5vh;
      padding-top: 1.5vh !important;
      padding-bottom: 0vh !important;
    }

    & div > span {
      float: left;
      font-size: 3.5vh;
    }
  }

  .cal-enroll {
    margin-bottom: 10vh;
  }
}
