.google-signup-panel {
  background-color: $primary-gray;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.google-text {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
  line-height: 1.9rem;
}

.google-header-text {
  font-weight: bold;
  font-size: 1.3rem;
}

.google-date, .google-time {
  color: $primary-blue;
}

.google-add-calendar-alert {
  padding: 0.8rem 1.8rem;
  font-size: 0.8rem;
}
